<mat-card>
  <form class="form-container" [formGroup]='form' novalidate (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName='name'>
      <mat-error *ngIf="!form.controls.name.valid && form.controls.name.touched">
         this field is required 
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName='email'>
      <mat-error *ngIf="!form.controls.email.valid && form.controls.email.touched">
        <span *ngIf="form.controls.email.errors['required']">
          this field is required 
        </span>
        <span *ngIf="form.controls.email.errors['invalidLength']&&!form.controls.email.errors['required']">
            email has to be atleast 6 characters long
        </span>
        <span *ngIf="form.controls.email.errors['email']&&!form.controls.email.errors['invalidLength']">
            please enter a valid email address
        </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="dob" placeholder="date of birth" formControlName='dob'>
      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
      <mat-datepicker #dob></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
    <input matInput type="password" placeholder="password" formControlName='password'>
    <mat-error *ngIf="!form.controls.password.valid && form.controls.password.touched">
      <span *ngIf="form.controls.password.errors['required']">
        this field is required 
      </span>
      <span *ngIf="form.controls.password.errors['invalidLength']&&!form.controls.password.errors['required']">
          password has to be atleast 6 characters long
      </span>
      </mat-error>
  </mat-form-field>
    <div class="buttons">
      <button mat-button [disabled]='!form.valid' class='color'>Save</button>
      <button type='button' (click)='clearForm()' mat-button>Cancel</button>
    </div>
  </form>
</mat-card>